<div>
  <div style="background-color: darkgray;">
    <label style="font-size: 40px" for="">Media Detail</label>
  </div>
  <div class="row" style="background-color: black; height: 1px;"></div>
</div>
<form>
    <div class="container1">
        <div class="row">
          <div class="col fas fa-user-alt" style="font-size: xx-large;">
           &nbsp; <input placeholder="Title Comes Here...."  style="border-radius: 10px" type="text">
          </div>
          <div class="col"  style="font-size: xx-large;">
            <div class="btn-group btn-group-justified" style="width: auto; text-align: center;">
                <a href="#" class="btn " style="background-color: lavender; border-color: black;">Sepia</a>
                <a href="#" class="btn" style="background-color: lavender; border-color: black;">Grey</a>
                <a href="#" class="btn " style="background-color: lavender; border-color: black;">Brightness</a>
                <a href="#" class="btn" style="background-color: lavender; border-color: black;">Contrast</a>
              </div><br><br>
            <textarea placeholder="Multi-line description comes here...."  style="border-radius: 10px" type="text"></textarea>

          </div>
        </div>
        </div>
</form>
