<ul class="list-group">
    <li class="list-group-item">Hello User!!</li>
  
    
    <li class="list-group-item list-group-item-primary">Home</li>
    <li class="list-group-item list-group-item-secondary">About</li>
    <li class="list-group-item list-group-item-success">Photo Gallery</li>
    <li class="list-group-item list-group-item-danger">Register</li>
    <li class="list-group-item list-group-item-warning">Find us</li>
    <li class="list-group-item list-group-item-info">Conntact us</li>
  
  </ul>
