<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row">
  <div class="col-lg-2" style="font-size: 5vh">
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading text-center"><u>Account</u></div>
      <a routerLink="/NewFeed" class="list-group-item btn list-group-item" >News Feed</a>
      <a routerLink="/BlockUser" class="list-group-item btn list-group-item ">Blocked Accounts</a>
      <a routerLink="/AccountDetails" class="list-group-item btn list-group-item ">Account update</a>
      <a routerLink="/Search" class="list-group-item btn list-group-item ">Search</a>
      <a routerLink="/NewFeed" class="list-group-item btn list-group-item ">Logout</a>

    </div>
  </div>

  <div class="col-10 col-md-8" style="margin-top: 3vh">
    <form class="form-inline d-flex justify-content-center md-form form-sm">
      <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
             aria-label="Search">
      <button class="btn " style="font-size: 2vw"> <i class="fa fa-search" aria-hidden="true">Search</i></button>
    </form>
  </div>
</div>
