<div class="container">
    <div class="row">

        <div class="col-lg-3">
            <div class="col-lg-1">
                <img src="=../../assets/Image/heart.svg"  width=25px >
                
                <img src="../../assets/Image/dislike.svg" width="25px">
            </div>
            
            <div class="col-lg-2">
                <img src="../../assets/Image/comment.svg" width=25px>
            </div>
                <div class="card">
                    <img src="../../assets/Image/default-user-profile-image-png-7.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Image 2</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="col-lg-3">
                    <img src="=../../assets/Image/heart.svg" width=25px>
                    <img src="../../assets/Image/dislike.svg" width="25px">
                    <img src="../../assets/Image/comment.svg" width=25px>
                </div>
                <div class="card">
                    <img src="../../assets/Image/default-user-profile-image-png-7.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Image 2</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="col-lg-3">
                    <img src="=../../assets/Image/heart.svg" width=25px>
                    <img src="../../assets/Image/dislike.svg" width="25px">
                    <img src="../../assets/Image/comment.svg" width=25px>
                </div>
                <div class="card">
                    <img src="../../assets/Image/default-user-profile-image-png-7.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Image 3</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="col-lg-3">
                   
                    <img src="=../../assets/Image/heart.svg" width=25px>
                    <img src="../../assets/Image/dislike.svg" width="25px">
                    <img src="../../assets/Image/comment.svg" width=25px>
                </div>
                <div class="card">
                    <img src="../../assets/Image/default-user-profile-image-png-7.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Image 4</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <br>

        <div class="row">

            <div class="col-lg-3">

                <div class="col-lg-3">
                    <img src="../../assets/Image/heart.svg" width=25px>
                    <img src="../../assets/Image/dislike.svg" width="25px">
                    <img src="../../assets/Image/comment.svg" width=25px>
                </div>
                <div class="card">
                    <img src="../../assets/Image/default-user-profile-image-png-7.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Image 5</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="col-lg-3">
                    <img src="=../../assets/Image/heart.svg" width=25px>
                    <img src="../../assets/Image/dislike.svg" width="25px">
                    <img src="../../assets/Image/comment.svg" width=25px>
                </div>
                <div class="card">
                    <img src="../../assets/Image/default-user-profile-image-png-7.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Image 6</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="col-lg-3">
                    <img src="=../../assets/Image/heart.svg" width=25px>
                    <img src="../../assets/Image/dislike.svg" width="25px">
                    <img src="../../assets/Image/comment.svg" width=25px>
                </div>
                <div class="card">
                    <img src="../../assets/Image/default-user-profile-image-png-7.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Image 7</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="col-lg-3">
                    <img src="=../../assets/Image/heart.svg" width=25px>
                    <img src="../../assets/Image/dislike.svg" width="25px">
                    <img src="../../assets/Image/comment.svg" width=25px>
                </div>
                <div class="card">
                    <img src="../../assets/Image/default-user-profile-image-png-7.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Image 8</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>