<h1 *ngIf="true">Success</h1>
<div>
    <h1 *ngIf="hasError">Success Again</h1>
    <h1 *ngIf="!hasError">Unsuccessful</h1>
</div>

<h1 *ngIf="hasError; else:elseBlock; then:ifBlock"></h1>

<ng-template #elseBlock>
    <h2>unsuccessful: else block executed</h2>
</ng-template>

<ng-template #ifBlock>
    <h2>Successful: If block executed</h2>
</ng-template>

<button *ngIf="isLoggedIn" class="btn btn-danger">Log out</button>
<button *ngIf="!isLoggedIn" class="btn btn-primary">Log In</button>

<div [ngSwitch]="number">
<h1 *ngSwitchCase="'one'">1</h1>
<h1 *ngSwitchCase="'two'">2</h1>
<h1 *ngSwitchCase="'three'">3</h1>
<h1 *ngSwitchCase="'four'">4</h1>
<h1 *ngSwitchDefault>Not in the list!</h1>

</div>

<div class="container">
    <h1>List</h1>
    <ul *ngFor="let name of names">
        <li>{{name}}</li>
    </ul>        
</div>

<div class="container">
    <h1>Employee list</h1>
    <table class="table">
        <thead>
            <tr>
                <th>EmployeeId</th>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.empId}}</td>
                <td>{{employee.empName}}</td>
                <td>{{employee.age}}</td>
            </tr>
        </tbody>
    </table>
</div>
