<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="address" class="beans.Address">
<property name="addressLine1" value="Agra"></property>
<property name="addressLine2" value="Sikandra"></property>
<property name="phoneNumber" value="012155"></property>
<property name="pinCode" value="282007"></property>
</bean>

<bean id="employee" class="beans.Employee">
<property name="address" ref="address"></property>
<property name="employeeId" value="101"></property>
<property name="employeeName" value="xyz"></property>
</bean>
</beans> 
