<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3><img src="../../../assets/Image/default.png" width="30px">Welcome</h3>
            
        </div>
        <br>
        <br>
       


        <ul class="list-unstyled components sidebarTextColor">
            
           
            <li>
                <a routerLink="login" type="button" class="btn btn-danger">Login</a>
            </li>
            <br>
            <li>
                <a routerLink="register" type="button" class="btn btn-danger">Register</a>
            </li>
           
        </ul>
    </nav>

</div>
